.carousel {
  text-align: center;
  margin-bottom: 40px;
}

.carousel .tag {
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin-bottom: 10px;
}

.carousel-image-box {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiP…dpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==);
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #ecf0f1));
  background-image: -moz-linear-gradient(top, #ffffff 0%, #ecf0f1 100%);
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #ecf0f1 100%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #ecf0f1 100%);
  -moz-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);

  height: 400px;
  position: relative;
}

.carousel-image-box .slide {
  cursor: pointer;
  width: 50%;
  height: 400px;
  position: absolute;
  left: 0;
  top: 0;
}

.carousel-image-box .slide.right {
  left: initial;
  right: 0;
}

.carousel-image-box .slide:hover,
.carousel-image-box .slide:active,
.carousel-image-box .slide:focus {
  background: rgba(0, 0, 0, 0.2);
}

.carousel-image-box .image {
  height: 400px;
  pointer-events: none;
}
